input#name {
    height: 40px;
  }
  
  input#url {
    height: 40px;
  }
  
  h4{
    text-align: center;
  }
  
  .form-group {
    display: grid;
  }
  
  .modal-header {
    display: block;
    text-align: end;
  }
  
  a#exit {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  div#btn-add {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  select.btn.btn-light {
    margin: 5px;
    height: 40px;
    margin-top: 2%;
    width: 395px;
}
