.nFecha{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 10px;
    color: black;
    margin-block-start: 15px;
    margin-block-end: 2px;
}
.nTitulo{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: #403A3A;
    margin-block-end: 0px;
}
.nCategoria{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(92, 216, 54);
    margin-block-end: 0px;
}
.nDescripcion{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    color: #8C8888;
    margin-block-end: 0px;
}
.radios{
    padding-inline-start: 20px;
}
/*Efecto zoom*/
    .ex2 img{
    width: 470px;
    height: 200px;
    transition: all 1s ease;
    }
    .ex2 img:hover {
    width:500px;
    height: 220px;
    margin-left: -5px;
    cursor: pointer;
    }
.btnShare{
    display: flex;
    justify-content: end;
    margin-bottom: -10px;
}
.left{
    margin-left: 80px;
}
.center{
    display: flex;
    justify-content: left;
    margin-left: 90px;
}
.btns{
    margin-left: 10px;
}
.colora a{
    color: rgb(0, 122, 204);
}
